*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  debug */

.debug .hed-flex-conteiner{
    background-color: lightskyblue;
}
.debug nav{
    border: 3px dashed;
    background-color: rgb(255, 145, 0);
}
.debug .Layout1-flex-container{
    background-color: rgb(8, 8, 109);
}
.debug .Layout-box1{
    border: 3px dashed;
    background-color: rgb(218, 68, 185);
}
.debug .Layout2-flex-container{
    background-color: white;
}
.debug .Layout-box2{
    border: 3px dashed;
    background-color: aqua;
}
.debug .Layout-box3{
    border: 3px dashed;
    background-color: pink;
}
.debug .Layout3-flex-container{
    background-color: lightgray;
}
.debug .Layout5-flex-container{
   background-color: lightgray;
}
.debug .Layout-box5{
    border: 3px dashed;
    background-color: green;
}
/* region header */
.hed-flex-conteiner{
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center ;
    padding-left: 8%;
    padding-right: 8%; 
}
.logo-L, .logo-R{
    width: 22%; 
    padding: 0 10px;
}

.logo-L, .logo-R, .link{
    display: flex;
    align-items: center;
    height: 50%;
}

.logo-R{
    display: flex;
    justify-content: end;
}

.link{
    height: 50%;
    width: 56%;
    justify-content: center;
 }
 
 /* endregion header */

 /* region main */
    /* Layout1 */
.Layout1-flex-container{
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.Layout-box1{
    height: 400px;
    width: 1000px;
}
.Layout2-flex-container{
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.Layout-box2{
    height: 400px;
    width: 700px
}
.Layout-box3{
    height: 400px;
    width: 500px
}
.Layout3-flex-container{
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.Layout5-flex-container{
    display: flex;
    height: 1000px;
    justify-content: center;
    align-items: center;
}
.Layout-box5{
    height: 900px;
    width: 1200px;
}
/* endregion main */



